.nav {
  position: fixed;
  bottom: 0px;
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.8);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: inherit;
  color: #2e363e;
  position: relative;
}
@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) rotateY(360deg);
  }
  100% {
    transform: none;
  }
}

.nav__notification {
  background-color: tomato;
  width: 30px;
  height: 30px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  position: absolute;
  right: -15px;
  top: -23px;
  animation: notificationAnimation 2s ease-in-out infinite;
}
.nav__option__notification {
  display: block;
  background-color: tomato;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  top: -19px;
  left: 32px;
  animation: notificationAnimation 2s ease-in-out infinite;
}

@keyframes appearBtnAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.nav__btn {
  transform: translateY(50px);
  opacity: 0;
  animation: appearBtnAnimation 0.3s ease-in-out forwards;
}

.nav__btn:nth-child(2) {
  animation-delay: 0.2s;
}
.nav__btn:nth-child(3) {
  animation-delay: 0.5s;
}
.nav__btn:last-child {
  animation-delay: 0.8s;
}
