.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px var(--horizontal-space);
  /* margin-bottom: 15px; */
}

.screen__header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen__header__icons {
  position: relative;
}
.screen_header__option__nitification {
  position: absolute;
  background-color: tomato;
  width: 8px;
  height: 8px;
  top: -10px;
  right: -10px;
  border-radius: 50%;
}

.screen__header__icons span {
  margin-left: 25px;
}
@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: rotateCog 1s linear infinite;
}
.friends-screen {
  padding: 0px var(--horizontal-space);
}
